// Breakpoints
$media-xxl: 1499.98px;
$media-xl: 1365.98px;
$media-lg: 1023.98px;
$media-lg-sm: 991.98px;
$media-md: 767.98px;
$media-sm: 575.98px;
$media-xs: 479.98px;

//Colors
$cl-brand-alpha: #ff3465;
$cl-brand-beta: #3f48c4;
$cl-brand-gamma: #2550de;
$cl-dark-alpha: #000000;
$cl-dark-beta: #353f58;
$cl-dark-gamma: #656970;
$cl-dark-psi: #101523;
$cl-dark-omega: #2c3242;
$cl-light-alpha: #ffffff;
$cl-light-beta: #e7eaf0;
$cl-light-gamma: #f7fbff;
$cl-light-psi: #a7afba;
$cl-outline: #4d90fe;

$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Rubik', sans-serif;

$browser-context: 16;
