doctype html
html(lang="ru")
  block head
    head
      meta(charset="utf-8")
      meta(name="description" content="descrip")
      meta(content="width=device-width, initial-scale=1" name="viewport")
      meta(content="ie=edge" http-equiv="x-ua-compatible")

      link(rel="icon" type="image/x-icon" href="assets/favicon/favicon.ico")

      link(rel="preconnect" href="https://fonts.googleapis.com")
      link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
      link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Rubik:wght@400;500;600;700&display=swap" rel="stylesheet")

      link(rel="stylesheet" href="assets/css/style.css")

      block title
        title Главная
  body
    include ../mixins/common
    .page
      block header
        include ../blocks/header
      block content
      block footer
        include ../blocks/footer
    block scripts
      include ../scripts/scripts
