extends ../layout/layout

block content
  main
    section.intro(style="background-image: url(assets/img/jpg/intro.jpg)")
      .container
        .intro__inner
          .intro__descrip
            .intro__titles
              h1.title.intro__title New platform for managing your business expenses
            .intro__buttons
              a.button.intro__button(href="#") Try it Now
              button.button-round(type="button")
                .button-round__styled
                  +icon('button-round__icon', 'play')
                span.button-round__label How it Works
          .intro__img
            img(src="assets/img/png/intro.png", width="835" height="676" alt="")

    .tech.section-border
      .container
        .tech__inner
          ul.list-reset.tech__list
            li
              a(href="#")
                img(src="assets/img/png/tech-1.png", width="195" height="103" alt="", loading="lazy")
            li
              a(href="#")
                img(src="assets/img/png/tech-2.png", width="195" height="103" alt="", loading="lazy")
            li
              a(href="#")
                img(src="assets/img/png/tech-3.png", width="195" height="103" alt="", loading="lazy")
            li
              a(href="#")
                img(src="assets/img/png/tech-4.png", width="195" height="103" alt="", loading="lazy")
            li
              a(href="#")
                img(src="assets/img/png/tech-5.png", width="195" height="103" alt="", loading="lazy")

    section.idea.section.section-border
      .container
        .idea__inner
          h2.idea__title create. visualize. deploy
          .idea__text
            p An idea that takes the parts of a structure and turns them into a whole system.
            p Practice is the frequent and continued contemplation of the mode of executing any given work, or of the mere operation.

    section.feature.section.section-border
      .container
        .feature__inner
          .feature__img
            img(src="assets/img/jpg/feature-1.jpg", width="570" height="377" alt="", loading="lazy")
          .feature__descrip
            h2.title.feature__title Intuitive interface for collaboration
            .feature__text
              p Our Theme is a very slick and clean e-commerce template with endless possibilities. Creating an awesome website with this Theme is a breeze. Our Theme is a very slick and clean e-commerce template with endless possibilities.

    section.feature.feature--reverse.section.section-border
      .container
        .feature__inner
          .feature__img
            img(src="assets/img/jpg/feature-2.jpg", width="570" height="377" alt="", loading="lazy")
          .feature__descrip
            h2.title.feature__title Operate the software in real time from any device
            .feature__text
              p Our Theme is a very slick and clean e-commerce template with endless possibilities. Creating an awesome website with this Theme is a breeze. Our Theme is a very slick and clean e-commerce template with endless possibilities.

    section.gains.section.section-border
      .container
        .gains__inner
          ul.list-reset.gains__list
            li.gains__item
              .gains__icon
                +icon('', 'graph')
              h2.title.gains__title Great Analysis Tools
              .gains__text
                p Our Theme is a very slick and clean e-commerce template with endless possibilities. Creating an awesome website with this Theme is a breeze. Our Theme is a very slick and clean e-commerce template with endless possibilities.
            li.gains__item
              .gains__icon
                +icon('', 'ssl')
              h2.title.gains__title Great Analysis Tools
              .gains__text
                p Our Theme is a very slick and clean e-commerce template with endless possibilities. Creating an awesome website with this Theme is a breeze. Our Theme is a very slick and clean e-commerce template with endless possibilities.
