header#header.header
  .container
    .header__inner
      .header__left
        a.logo.header__logo(href="index.html" aria-label="home")
          img(src="assets/img/png/logo.png", width="81" height="15" alt="")
        .header__menu
          nav.menu
            ul.list-reset
              li
                a(href="#") Home
              li
                a(href="#") Blog
              li
                a(href="#") Pages
              li
                a(href="#") Pricing
          a.button.header__menu-button(href="#") Try Free
      .header__right
        a.button(href="#") Try Free
      button#burger-button.burger-button(aria-label="меню")
        span
