.footer {
  background-color: $cl-dark-psi;
  color: $cl-light-psi;
}

.footer__top {
  border-bottom: 1px solid $cl-dark-omega;
}

.footer__mid {
  padding: 8rem 0 4rem;
}

.footer__info {
  @include media-tablet-sm {
    width: 100%;
  }
}

.footer__mid-item {
  max-width: 32.5rem;
  width: 100%;

  &:not(:last-child) {
    margin-right: 4rem;
  }

  @include media-tablet-lg {
    width: 45%;
    max-width: unset;

    &:not(:last-child) {
      margin-bottom: 4rem;
    }
  }

  @include media-tablet-sm {
    &:not(:last-child) {
      margin-right: 0;
    }
  }
}

.footer__mid-inner {
  display: flex;
  justify-content: space-between;

  @include media-tablet-lg {
    flex-wrap: wrap;
  }
}

.footer__bot {
  padding: 2.7rem;
}

.footer__top-inner {
  display: flex;
  justify-content: space-between;

  padding: 2.4rem 0;

  @include media-tablet-lg {
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

.footer__menu {
  @include media-tablet-lg {
    margin-bottom: 3rem;
  }
}

.footer__menu-list {
  display: flex;

  a {
    color: $cl-light-psi;

    transition: color 0.1s linear;

    &:hover {
      color: $cl-light-alpha;
    }
  }

  li {
    &:not(:last-child) {
      margin-right: 2rem;
    }
  }

  @include media-tablet-lg {
    flex-wrap: wrap;
    justify-content: center;

    li {
      margin-bottom: 1rem;
    }
  }
}

.footer__copyright {
  display: block;
  text-align: center;
  margin: 0 auto;
  font-size: 13px;
  color: $cl-light-psi;
}

.footer__address {
  font-style: normal;
}

.footer__form {
  display: flex;
  flex-direction: column;

  width: 100%;
}

.footer__form-input {
  margin-bottom: 2rem;
}

.footer__form-input,
.footer__form-button {
  min-height: 5.1rem;
}

.footer__logo {
  margin-bottom: 2rem;
}

.footer__descrip {
  line-height: 1.4;

  margin-bottom: 2rem;
}

.footer__address {
  padding-top: 2rem;

  line-height: 1.4;
  font-size: 2rem;
}

.footer__sub {
  @include media-tablet-lg {
    width: 100%;
  }
}

.footer__sub-title {
  display: block;
  color: $cl-light-alpha;
  margin-bottom: 2rem;
}

.footer__mid-menu-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;

  font-family: $font-secondary;

  @include media-tablet-sm {
    grid-template-columns: 1fr;
  }
}

.footer__mid-menu-subitem {
  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.footer__mid-menu-label {
  display: block;
  margin-bottom: 2rem;

  color: $cl-light-alpha;
  font-weight: 500;
}

.footer__mid-menu-sublink {
  color: $cl-light-psi;

  transition: color 0.1s linear;

  &:hover {
    color: $cl-brand-alpha;
  }
}
