.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 4;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 2rem 0;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 5rem;
}
