.menu {
  ul {
    display: flex;
  }

  li {
    &:not(:last-child) {
      margin-right: 2rem;
    }
  }

  a {
    color: $cl-light-alpha;

    transition: color 0.1s linear;

    &:hover {
      color: $cl-brand-alpha;
    }
  }
}
