.menu {
  ul {
    display: flex;
  }

  li {
    &:not(:last-child) {
      margin-right: 2rem;
    }
  }

  a {
    color: $cl-light-alpha;
    font-family: $font-secondary;

    transition: color 0.1s linear;

    &:hover {
      color: $cl-brand-alpha;
    }
  }

  @include media-tablet-lg {
    ul {
      @include media-tablet-lg {
        flex-direction: column;
      }
    }

    a {
      color: $cl-dark-alpha;
      font-size: 3rem;
    }

    li {
      &:not(:last-child) {
        margin-right: 0;
        margin-bottom: 3rem;
      }
    }
  }
}
