.modal {
  position: fixed;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 5;

  top: 0;
  right: 0;

  height: 100%;
  width: 100%;

  opacity: 0;
  visibility: hidden;
  overflow: hidden;

  background: rgba($cl-dark-alpha, 0.6);

  transition: opacity 0.2s ease-in-out;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.modal__scroll {
  display: flex;

  overflow-y: auto;
  height: 100vh;
  width: 100%;
}

.modal__wrapper {
  position: relative;

  max-width: 100rem;
  width: 100%;

  padding: 2rem 0;

  margin: auto;

  @include media-tablet-lg {
    max-width: 95vw;
  }
}

.modal__inner {
  width: 100%;

  padding: 5rem;

  @include media-tablet-sm {
    padding: 5rem 0 0;
  }
}

.modal__button-close {
  position: absolute;
  right: 4rem;

  svg {
    width: 4rem;
    height: 4rem;

    stroke: $cl-light-psi;

    transition: stroke 0.2s ease;
  }

  &:hover {
    svg {
      stroke: $cl-light-alpha;
    }
  }

  @include media-tablet-sm {
    right: 0;
  }
}
