mixin icon(className, name)
  svg(class= className): use(xlink:href="assets/img/svg/sprite.svg#" + name)

mixin crumbs(arrLinks)
  .crumbs
    .container
      .crumbs__inner
        ul.list-reset
          li: a(href='index.html') Home
          for link in arrLinks
            if link.href
              li: a(href= link.href)= link.name
            else
              li: span= link.name
